
<h1 class="page-title post-title">
    <div class="page-title__text post-title__text">404</div>
</h1>

<h2 class="go-home">
    <p>
      <a href="/">What you are looking for cannot be found.</a>
    </p>

    <p>
      <a href="/">It's most likely that the parameters in the URL are invalid.</a>
    </p>

    <p>
      <a href="/">Go Home</a>
    </p>

</h2>

<script> document.getElementsByTagName('body')[0].classList.add('glitch'); </script>
