<h1 class="page-title post-title">
    <div class="page-title__text post-title__text">Day Overview</div>
    <div class="page-title__subtitle post-title__subtitle">All standups for <%= day[:date].strftime("%A, %b %d") %></div>
</h1>

<% day[:by_users].each do |user| %>
  <h1>
    <%= user[:display_name] %>
  </h1>
  <% user[:answers].each do |answer| %>
    <h3>
      <%= answer[:question] %>
    </h3>
    <p>
      <%= Rack::Utils.escape_html(answer[:answer]) %>
    </p>
  <% end %>
<% end %>
