<h1 class="page-title post-title">Confirmation</h1>

<center>

  <p>Are you sure want to remove the user <b><%= user %></b> from the standup loop?</p>

  <form action="<%= "/settings/remove/#{user}" %>" method="post">
    <input type="submit" value="Remove">
  </form>

</center>
